/*! Primitive
 * A front end Sass boilerplate
 *
 * Author: Tania Rascia 
 */

// Configuration
@import "base/variables";
@import "base/mixins";

// Reset
@import "base/normalize";
@import "base/reset";

// Components
@import "components/scaffolding";
@import "components/grid";
@import "components/helpers";
@import "components/buttons";
@import "components/forms";
@import "components/tables";
@import "components/navigation";
@import "components/layout";

// Fort Awesome
@import './node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
//@import './node_modules/@fortawesome/fontawesome-free/scss/solid';
@import './node_modules/@fortawesome/fontawesome-free/scss/regular';
@import './node_modules/@fortawesome/fontawesome-free/scss/brands';

// Vendors
@import "vendors/vendors.prism-xonokai.scss";

// My Customizations
::selection {
	background-color: $secondary-color;
	color: $primary-color;
}

html {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	border-left: solid 8px mix($font-color, $primary-color, 10%);
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	margin: auto;
}

main {
	flex: 1;
}

.container {
	width: 400px;
	@include small-breakpoint {
		width: 500px;
	}
	@include medium-breakpoint {
		width: 600px;
	}
	@include large-breakpoint {
		width: 700px;
	}
}

nav {
	padding-top: 2em;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 4rem;

	.logo {
		height: 60px;
		@include medium-breakpoint {
			height: 80px;
		}
		@include large-breakpoint {
			height: 100px;
		}
	}
}

.nav-links {
	display: flex;
	padding-top: 4em;
	padding-left: 0;
	flex-direction: column;
	@include medium-breakpoint {
		flex-direction: column;
	}
	@include large-breakpoint {
		flex-direction: row;
	}

	li {
		display: inline;
		margin-left: 4rem;
	}

	a {
		font-size: 1em;
		text-align: right;
		line-height: 1.2;
		font-weight: 500;
		text-decoration: none;
		@include small-breakpoint {
			font-size: 1.2em;
		}
	}

	small {
		display: block;
		font-size: 0.8em;
		color: mix($font-color, $alternate-color, 60%);
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Lucida Grande";
	font-weight: 600;
	line-height: 1.4;
	color: $primary-color;
	strong {
		color: $secondary-color;
	}
}

h1 {
	font-size: 1.6rem;
}

h2 {
	font-size: 1.4rem;
}

h3 {
	font-size: 1rem;
}

a {
	color: rgba(0, 0, 0, .45);
	text-decoration: none;
	font-weight: 500;
	transition: all .1s ease-in-out;
}

a:hover,
a:focus {
	color: $font-color;
	text-decoration: none;
}

.social-icons a {
	display: inline-block;
	width: 3.5rem;
	border-bottom: solid 2px $secondary-color;
	text-align: center;
	font-size: 1.5rem;
	line-height: 3.5rem;
	margin-right: 1rem;
	margin-bottom: 1rem;
}

.social-icons a:last-child {
	margin-right: 0;
}

.social-icons a:hover {
	border-bottom: solid 1px $primary-color;
	color: $font-color !important;
}

.article-listing {
	list-style-type: none;
	font-size: 20px;
	padding-left: 0;
	li {
		padding-bottom: .4rem;
	}
}

.with-separator {
	border-bottom: 4px solid #f5f5f5;
	padding-bottom: .5rem;
}

.with-separator-top {
	border-top: 4px solid #f5f5f5;
	padding-top: .5rem;
}

p.article-date {
	font-size: .6em;
}

footer {
	margin-top: 6em;
	padding-top: 1em;
	padding-bottom: 2em;
	border-top: solid 1px mix($font-color, $primary-color, 10%);
	font-size: 0.8em;
	color: mix($font-color, $alternate-color, 40%);
}

footer a {
	border-bottom: 2px solid $secondary-color;
	font-weight: 600;
}

footer a:hover {
	border-bottom: solid 1px $primary-color;
}

// Post style
.my-article {
	ul {
		list-style: none; /* Remove default bullets */
	}

	ul li::before {
		content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
		color: $secondary-color; /* Change the color */
		//font-weight: bold; /* If you want it to be bold */
		display: inline-block; /* Needed to add space between the bullet and the text */
		width: 1em; /* Also needed for space (tweak if needed) */
		margin-left: -1em; /* Also needed for space (tweak if needed) */
	}
}

.normal-listing {
	ul {
		list-style: none; /* Remove default bullets */
	}

	ul li::before {
		content: "\2022"; /* Add content: \2022 is the CSS Code/unicode for a bullet */
		color: $secondary-color; /* Change the color */
		//font-weight: bold; /* If you want it to be bold */
		display: inline-block; /* Needed to add space between the bullet and the text */
		width: 1em; /* Also needed for space (tweak if needed) */
		margin-left: -1em; /* Also needed for space (tweak if needed) */
	}
}

.my-article img {
	max-width: 100%;
	max-height: 100%;
}

.my-article a {
	border-bottom: 2px solid $secondary-color;
	font-weight: 600;
}

.my-article a:hover {
	border-bottom: solid 1px $primary-color;
}

// About Me
.profile-img-circle {
	width: 150px;
	height: 150px;
	background: url(../img/cropped.png) center;
	filter: brightness(110%);
	border-radius: 50%;
	float: right;
	shape-outside: circle();
	margin: 10px 0 30px 30px;
}
