/*! Primitive
 * A front end Sass boilerplate
 *
 * Author: Tania Rascia 
 */

// Configuration
@import "base/variables";
@import "base/mixins";

// Reset
@import "base/normalize";
@import "base/reset";

// Components
@import "components/scaffolding";
@import "components/grid";
@import "components/helpers";
@import "components/buttons";
@import "components/forms";
@import "components/tables";
@import "components/navigation"; 
@import "components/layout"; 

// Customizations
::selection {
    background-color: $font-color;
    color: #385780;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    text-align: left;
    @include medium-breakpoint {
        width: 600px;
    }
    @include large-breakpoint {
        width: 700px;
    }
}

footer {
    margin-top: 6em;
    padding-top: 1em;
    //padding-bottom: 6em;
    border-top: solid 1px mix($font-color, #385780, 10%);
    font-size: 0.7em;
    color: mix($font-color, #385780, 40%);
}