---
permalink: about/index.html
layout: default
title: About me
description: Software Engineer from Lisbon, Portugal
---

{% block content %}

<div class=my-article>
<h1>About me</h1>

<div class="profile-img-circle"></div>

<p>
My name is Rami Shashati. I'm a software engineer with 10+ years experience,
currently focusing on JavaScript, Docker, and DevOps.
</p>

<p>
I help teams and companies build and scale their applications using modern web
technology and tools. For over three years, I have been consulting on software
architecture, development, and process automation.
</p>

<p>
I embrace complex technical challenges and thrive on implementing objective
solutions. I am always keen to learn, evolve, collaborate, and give my best to
the success of the projects I’m working on.
</p>

<p>
This website is the platform I use to explore my technical writer facet, where I
document and keep an archive of new cool things I learn and experiences I've
gone through. I have a wide variety of interests, so expect to find resources
covering diverse topics, from JavaScript to Linux, Vue.js to testing.
</p>

<h2>Tools & tech</h2>
<p>
The Node.js ecosystem is where I feel the most comfortable at and
from where I normally get the tools that support my day-to-day dev work.
</p>

<p>
I'm particularly experienced in frontend development, namely Vue.js/Nuxt.js,
Jamstack, static site generators, headless CMSs, API integration, and Cypress.js
for end-to-end testing.
</p>

<p>
Lately, I've also been having a lot of fun doing some DevOps work: containers,
CI/CD pipelines (GitLab), observability (Elastic Stack, New Relic), backup
automation, and dabbling in cloud infrastructure (Azure).
</p>

<h2>Let's talk!</h2>
<p>
For any work inquiry or project you wish to talk about, feel free to
<a href="mailto:ramigs@gmail.com">get in touch</a>.
</p>

{% endblock %}