---
permalink: about/index.html
layout: default
title: About
description: Software Engineer from Lisbon, Portugal.
---

{% block content %}

<div class=my-article>
<h1>Who am I?</h1>

<div class="profile-img-circle"></div>

<p>
My name is Rami Shashati. I'm an experienced software engineer, specializing in
JavaScript and Vue.js.
</p>

<p>
This website is the platform where I document and keep a reference of some of
the interesting things I learn. I have a wide variety of interests, so you'll
find here resources covering diverse topics, from JavaScript to CI/CD, Vue.js to
Jamstack.
</p>

<p>
I'm particularly interested in Jamstack architectures, serverless, static site
generators, and headless CMSs. Lately, I have been especially focused on Nuxt.js
and Strapi.
</p>

<p>
I embrace complex technical challenges and thrive on implementing objective
solutions. I am always keen to learn, evolve, collaborate, and give my best to
the success of the projects I’m working on.
</p>

{% endblock %}