---
permalink: about/index.html
layout: default
title: About
description: Full Stack Developer from Lisbon, Portugal.
---

{% block content %}

<div class=my-article>
<h1>Who am I?</h1>

<div class="profile-img-circle"></div>

<p>
My name is Rami Shashati. I’m a Full Stack Developer who enjoys building
responsive, and user-friendly websites and applications, with the help of modern
technology and infrastructure.
</p>

<p>
This website is the platform where I document and keep a reference of some of
the interesting things I learn. I have a wide variety of interests, so expect to
find material and resources covering diverse topics, such as JavaScript or CI/CD.
</p>

<p>
Currently, I’m focusing on JavaScript, Node.js, and the JAMstack. I also like to
implement build automation processes, always with the goal of improving dev
workflows.
</p>

<h2>Background</h2>

<p>
I started my career as a Software Engineer in 2010, 
after graduating in <a href="http://lei.di.uminho.pt/">Computer Science</a>, 
at <a href="https://www.uminho.pt">Universidade do Minho</a>, 
<a href="https://en.wikipedia.org/wiki/Braga">Braga</a>.
Throughout this time I have been involved in pretty much 
every stage of the development cycle.
I have worked on several projects using HTML/CSS/JavaScript/PHP and more, 
doing all sorts of things, from requirements to implementation, testing to documentation.
For more details regarding these projects, please take a look at my 
<a href="https://www.linkedin.com/in/ramigs">resume</a>.
</p>

<p>
During my four year stay with <a href="https://www.fct.pt/">FCT</a>, I've also
done infrastructure administration and technical user support. I was responsible
for managing the different environments, ensuring the required service levels
and the dev team needs were met. I was also involved in the coordination of
deploy and release processes.
</p>

<h2>Things I like</h2>

<p>Non-exhaustive list of things I enjoy:</p>
<div class="normal-listing">
<ul>
  <li>JavaScript</li>
  <li>the <a href="https://jamstack.org/">JAMstack</a></li>
  <li>clean, maintainable code, and documentation</li>
  <li>build and deploy automation</li>
  <li>open source</li>
  <li>macOS/Unix</li>
  <li>sharing knowledge</li>

</ul>
</div>

</div>

{% endblock %}