---
permalink: blog/index.html
layout: default
title: Articles
description: Full-stack developer from Lisbon, Portugal.
---

{% block content %}

<h1 class="with-separator">Articles</h1>

<div>
{% for page in collections.posts %}
  {% if loop.first %}<ul class="article-listing">{% endif %}
  <li>
    <article>
      <a href="{{ page.url }}">{{ page.data.title }}</a>
      <p class="article-date"><time datetime="{{ page.data.date | dateDisplay }}">{{ page.data.date|dateDisplay }}</time></p>
    </article>
  </li>
  {% if loop.last %}</ul>{% endif %}
{% endfor %}
</div>

{% endblock %}