---
permalink: index.html
layout: default
---

{% set metaTitle = "Home" %}
{% set metaDescription = "Full-stack developer from sunny Lisbon, Portugal." %}

{% set title = "Hi, I'm Rami." %}
{% set subtitle = "I'm a full-stack developer from sunny Lisbon, Portugal." %}

{% block content %}

<h1>{{ title }}</h1>
<p class="subtitle">{{ subtitle }}</p>

{% endblock %}