---
permalink: index.html
layout: default
title: Full Stack Developer from Lisbon, Portugal
description: Full Stack Developer from Lisbon, Portugal.
---

{% block content %}

<h1>
Hi, I'm Rami.
I'm a <strong>JavaScript developer</strong> and <strong>technical
writer</strong> from Lisbon, Portugal. 
</h1>



<p>
Welcome to my website, where I write about the cool stuff I learn and share it
with the world. Besides code, I'm also interested in modern software
architectures, automation, and dev workflows.
</p>

<div class="social-icons">
  <a target="_blank" href="https://github.com/ramigs">
    <i class="fab fa-github"></i>
  </a>
    <a target="_blank" href="https://twitter.com/ramigsDev">
    <i class="fab fa-twitter"></i>
  </a>
{#   <a target="_blank" href="https://www.linkedin.com/in/ramigs/">
    <i class="fab fa-linkedin-in"></i>
  </a> #}
  <a href="mailto:ramigs@gmail.com">
    <i class="far fa-envelope"></i>
  </a>      
</div>

<h2 class="with-separator">Latest Articles</h2>

<ul class="article-listing">
{%- for page in collections.posts.slice(0,5) | reverse -%}
  <li>
    <a href="{{ page.url }}">{{ page.data.title }}</a>
  </li>
{%- endfor -%}
</ul>

{% endblock %}