---
permalink: index.html
layout: default
title: Home
description: Home
---

{% block content %}

<h1>
👋 I'm Rami, a <strong>software engineer</strong> and <strong>technical
writer</strong> from Lisbon, Portugal.
</h1>

<p>
Welcome to my website, where I write about the cool stuff I learn and share it
with the world. Besides JavaScript, I'm also passionate about modern software
architectures, developer experience, and automation.
</p>

<div class="social-icons">
  <a target="_blank" href="https://github.com/ramigs">
    <i class="fab fa-github"></i>
  </a>
    <a target="_blank" href="https://twitter.com/ramigsDev">
    <i class="fab fa-twitter"></i>
  </a>
{#   <a target="_blank" href="https://www.linkedin.com/in/ramigs/">
    <i class="fab fa-linkedin-in"></i>
  </a> #}
  <a href="mailto:ramigs@gmail.com">
    <i class="far fa-envelope"></i>
  </a>      
</div>

<h2 class="with-separator">Recent Articles</h2>

<ul class="article-listing">
{%- for page in collections.posts.slice(collections.posts.length - 6, collections.posts.length) | reverse -%}
  <li>
    <a href="{{ page.url }}">{{ page.data.title }}</a>
  </li>
{%- endfor -%}
</ul>

{% endblock %}