<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{ metaTitle }}
            - ramigs</title>
        <meta name="description" content="{{ metaDescription }}">

        <link rel="stylesheet" href="/css/main.min.css">

    </head>
    <body>
        <div class="container">
            {% include "partials/header.njk" %}
            {{ content | safe }}
            {% include "partials/footer.njk" %}
        </div>
        <script src="/js/main.bundle.js"></script>
    </body>
    </html>