<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ramigsdev | {{ title }}</title>
        <meta name="description" content="{{ description }}">
        <meta name="author" content="Rami Shashati">

        <link rel="stylesheet" href="/css/main.min.css">

    </head>
    <body>
        <div class="container">
            {% include "partials/header.njk" %}
        </div>    
        <main class="container">
            
            {{ content | safe }}
        </main>
        <div class="container">
            {% include "partials/footer.njk" %}
        </div>   
        <script src="/js/main.bundle.js"></script>
    </body>
    </html>