<footer>
  <p>
    This website is built with
    <a href="https://www.11ty.io/">11ty</a> and hosted on
    <a href="https://www.netlify.com/">Netlify</a>.
    The source code is available on <a href="{{ pkg.repository.url }}">Github</a>.
  </p>
</footer>