<header>
    <ul class="nav">
        <li>
            <a href="/">home<small>where the heart is</small>
            </a>
        </li>
        <li>
            <a href="/blog">articles<small>tech-related</small>
            </a>
        </li>
        <li>
            <a href="/about">about<small>getting to know me</small>
            </a>
        </li>
    </ul>
</header>