<header>
	<nav>
		<div>
			<a href="/">
				<img class="logo" src="/img/logos/logo-complete.svg"/>
			</a>
		</div>
		<ul class="nav">
			<li>
				<a href="/blog">Articles</a>
    		</li>
    		<li>
        		<a href="/about">About Me</a>
			</li>
		</ul>
	</nav>
</header>