<nav class="small-container">
	<div class="logo-container">
		<a class="logo-a" href="/">
			<img class="logo" src="/img/logos/logo-complete.svg"/>
		</a>
	</div>
	<ul class="nav-links">
		<li>
			<a href="/blog">Blog</a>
		</li>
		<li>
			<a href="/about">About</a>
		</li>
	</ul>
</nav>